# PyCity Schools Analysis

- Your analysis here
  
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [4]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [5]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [6]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [10]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage =  passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {"Total Schools": school_count,
                    "Total Students": '{:,}'.format(student_count),
                        "Total Budget": '${:,.2f}'.format(total_budget),
                        "Average Math Score": average_math_score,
                        "Average Reading Score": average_reading_score,
                    "% Passing Math": passing_math_percentage,
                        "% Passing Reading": passing_reading_percentage,
                        "Overall Passing": overall_passing_rate}
                    
# Formatting
#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary = pd.DataFrame([district_summary])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [14]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [15]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
#print(per_school_counts)

In [16]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = (school_data.set_index(["school_name"])["budget"] / per_school_counts)
#print(per_school_budget)

In [17]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name')["math_score"].mean()
per_school_reading = school_data_complete.groupby('school_name')["reading_score"].mean()

In [18]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["Student ID"].count()
#print(school_students_passing_math)

In [19]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >=70]
school_students_passing_reading = students_passing_math.groupby("school_name")["Student ID"].count()
#print(school_students_passing_reading)

In [20]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
#print(school_students_passing_math_and_reading)

In [21]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
#print(overall_passing_rate)

In [22]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_budget,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate,})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,3124928,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1081356,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,1884411,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,1763916,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,917500,"$917,500.00",$625.00,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,3022020,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,248087,"$248,087.00",$581.00,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,1910635,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,3094650,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,585858,"$585,858.00",$609.00,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,2547363,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1056600,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1043130,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,1319574,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1049400,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,93.333333,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [24]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing',ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1081356,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,94.133477,91.334769
Thomas High School,Charter,1043130,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,93.272171,90.948012
Griffin High School,Charter,917500,"$917,500.00",$625.00,83.351499,83.816757,93.392371,93.392371,90.599455
Wilson High School,Charter,1319574,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,93.867718,90.582567
Pena High School,Charter,585858,"$585,858.00",$609.00,83.839917,84.044699,94.594595,94.594595,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [26]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,2547363,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,66.366592,52.988247
Figueroa High School,District,1884411,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,65.988471,53.204476
Huang High School,District,1910635,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,65.683922,53.513884
Hernandez High School,District,3022020,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,66.752967,53.527508
Johnson High School,District,3094650,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,66.057551,53.539172

## Math Scores by Grade

In [28]:
import pandas as pd
 
# Assuming school_data_complete is already defined
# If not, you need to load it first
 
# Use the code provided to separate the data by grade
grades = ['9th', '10th', '11th', '12th']
grade_data = {grade: school_data_complete[school_data_complete["grade"] == grade] for grade in grades}
 
# Group by `school_name` and take the mean of the `math_score` column for each grade
math_scores = {f"{grade.capitalize()} Grade": data.groupby("school_name")["math_score"].mean() 
               for grade, data in grade_data.items()}
 
# Combine each of the scores into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(math_scores)
 
# Reorder columns to match the original order
math_scores_by_grade = math_scores_by_grade[['9th Grade', '10th Grade', '11th Grade', '12th Grade']]
 
# Format the scores to one decimal place using map instead of applymap
for column in math_scores_by_grade.columns:
    math_scores_by_grade[column] = math_scores_by_grade[column].map(lambda x: f"{x:.1f}")
 
# Display the DataFrame
print(math_scores_by_grade)
 
# Optional: Save to CSV
# math_scores_by_grade.to_csv("math_scores_by_grade.csv")

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School         77.1       77.0       77.5       76.5
Cabrera High School        83.1       83.2       82.8       83.3
Figueroa High School       76.4       76.5       76.9       77.2
Ford High School           77.4       77.7       76.9       76.2
Griffin High School        82.0       84.2       83.8       83.4
Hernandez High School      77.4       77.3       77.1       77.2
Holden High School         83.8       83.4       85.0       82.9
Huang High School          77.0       75.9       76.4       77.2
Johnson High School        77.2       76.7       77.5       76.9
Pena High School           83.6       83.4       84.3       84.1
Rodriguez High School      76.9       76.6       76.4       77.7
Shelton High School        83.4       82.9       83.4       83.8
Thomas High School         83.6       83.1       83.5       83.5
Wilson High School         83.1       83.7       83.2       83.0
Wright High School         83.3       84.0       83.8       83.6

## Reading Score by Grade

In [38]:
import pandas as pd
 
# Assuming school_data_complete is already defined
# If not, you need to load it first
 
# Use the code provided to separate the data by grade
grades = ['9th', '10th', '11th', '12th']
grade_data = {grade: school_data_complete[school_data_complete["grade"] == grade] for grade in grades}
 
# Group by `school_name` and take the mean of the `reading_score` column for each grade
reading_scores = {f"{grade.capitalize()} Grade": data.groupby("school_name")["reading_score"].mean() 
                  for grade, data in grade_data.items()}
 
# Combine each of the scores into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(reading_scores)
 
# Reorder columns to match the original order
reading_scores_by_grade = reading_scores_by_grade[['9th Grade', '10th Grade', '11th Grade', '12th Grade']]
 
# Format the scores to one decimal place using map instead of applymap
for column in reading_scores_by_grade.columns:
    reading_scores_by_grade[column] = reading_scores_by_grade[column].map(lambda x: f"{x:.1f}")
 
# Display the DataFrame
print(reading_scores_by_grade)
 
# Optional: Save to CSV
# reading_scores_by_grade.to_csv("reading_scores_by_grade.csv")

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School         81.3       80.9       80.9       80.9
Cabrera High School        83.7       84.3       83.8       84.3
Figueroa High School       81.2       81.4       80.6       81.4
Ford High School           80.6       81.3       80.4       80.7
Griffin High School        83.4       83.7       84.3       84.0
Hernandez High School      80.9       80.7       81.4       80.9
Holden High School         83.7       83.3       83.8       84.7
Huang High School          81.3       81.5       81.4       80.3
Johnson High School        81.3       80.8       80.6       81.2
Pena High School           83.8       83.6       84.3       84.6
Rodriguez High School      81.0       80.6       80.9       80.4
Shelton High School        84.1       83.4       84.4       82.8
Thomas High School         83.7       84.3       83.6       83.8
Wilson High School         83.9       84.0       83.8       84.3
Wright High School         83.8       83.8       84.2       84.1

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [36]:
import pandas as pd
import numpy as np
 
def inspect_and_create_bins(data, num_bins=4):
    sorted_data = sorted(data.unique())
    print("\nUnique sorted values in 'Per Student Budget':")
    print(sorted_data)
 
    min_val = data.min()
    max_val = data.max()
    range_val = max_val - min_val
    bin_width = range_val / num_bins
 
    bins = [min_val + i * bin_width for i in range(num_bins + 1)]
    bins[-1] = max_val  # Ensure the last bin includes the maximum value
 
    print("\nManually created bins:")
    print(bins)
 
    return bins
 
# Assuming per_school_summary is already defined
if 'per_school_summary' not in globals():
    print("Error: per_school_summary is not defined. Please run the code that creates this DataFrame first.")
else:
    print("\nInitial 'Per Student Budget' data type:", per_school_summary['Per Student Budget'].dtype)
    print("\nFirst few values of 'Per Student Budget':")
    print(per_school_summary['Per Student Budget'].head())
 
    # Convert 'Per Student Budget' to numeric, handling any non-numeric values
    per_school_summary['Per Student Budget'] = pd.to_numeric(per_school_summary['Per Student Budget'], errors='coerce')
 
    print("\nPer Student Budget Statistics:")
    print(per_school_summary['Per Student Budget'].describe())
 
    # Remove rows with NaN in 'Per Student Budget'
    per_school_summary_clean = per_school_summary.dropna(subset=['Per Student Budget'])
 
    print("\nShape before and after removing NaNs:")
    print(f"Before: {per_school_summary.shape}, After: {per_school_summary_clean.shape}")
 
    # Inspect and create bins
    spending_bins = inspect_and_create_bins(per_school_summary_clean['Per Student Budget'])
 
    # Generate labels based on the number of bins
    labels = [f"${spending_bins[i]:.0f}-{spending_bins[i+1]:.0f}" for i in range(len(spending_bins)-1)]
    print("\nGenerated labels:")
    print(labels)
 
    # Create spending ranges
    try:
        per_school_summary_clean["Spending Ranges (Per Student)"] = pd.cut(
            per_school_summary_clean['Per Student Budget'], 
            bins=spending_bins, 
            labels=labels, 
            include_lowest=True
        )
 
        print("\nValue counts of Spending Ranges:")
        print(per_school_summary_clean["Spending Ranges (Per Student)"].value_counts(dropna=False))
 
        # Group by spending ranges and calculate averages
        spending_summary = per_school_summary_clean.groupby("Spending Ranges (Per Student)", observed=True).agg({
            "Average Math Score": "mean",
            "Average Reading Score": "mean",
            "% Passing Math": "mean",
            "% Passing Reading": "mean",
            "% Overall Passing": "mean"
        })
 
        print("\nSpending Summary:")
        print(spending_summary)
 
        print("\nNaN values in Spending Summary:")
        print(spending_summary.isna().sum())
 
    except ValueError as e:
        print(f"Error in creating spending ranges: {e}")
        print("\nDetailed data information:")
        print(per_school_summary_clean['Per Student Budget'].describe())
        print("\nUnique values in 'Per Student Budget':")
        print(sorted(per_school_summary_clean['Per Student Budget'].unique()))
 
    # Additional debugging: Check for any schools outside the bin ranges
    min_bin = spending_bins[0]
    max_bin = spending_bins[-1]
    outliers = per_school_summary_clean[
        (per_school_summary_clean['Per Student Budget'] < min_bin) | 
        (per_school_summary_clean['Per Student Budget'] > max_bin)
    ]
    if not outliers.empty:
        print("\nSchools outside bin ranges:")
        print(outliers[['school_name', 'Per Student Budget']])

Initial 'Per Student Budget' data type: float64

First few values of 'Per Student Budget':
school_name
Bailey High School     NaN
Cabrera High School    NaN
Figueroa High School   NaN
Ford High School       NaN
Griffin High School    NaN
Name: Per Student Budget, dtype: float64

Per Student Budget Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Per Student Budget, dtype: float64

Shape before and after removing NaNs:
Before: (15, 9), After: (0, 9)

Unique sorted values in 'Per Student Budget':
[]

Manually created bins:
[nan, nan, nan, nan, nan]

Generated labels:
['$nan-nan', '$nan-nan', '$nan-nan', '$nan-nan']
Error in creating spending ranges: bins must increase monotonically.

Detailed data information:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Per Student Budget, dtype: float64

Unique values in 'Per Student Budget':
[]

In [40]:
# Assemble into DataFrame
spending_summary = pd.DataFrame ({'Average Math Score': spending_math_scores,
                                'Average Reading Score': spending_reading_scores,
                                '% Passing Math': spending_passing_math,
                                '% Passing Reading': spending_passing_math,
                                '% Overall Passing': overall_passing_spending,
                                })

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [42]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary

NameError: name 'size_bins' is not defined

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({'Average Math Score': size_math_scores,
                            'Average Reading Score': size_reading_scores,	
                            '% Passing Math': size_passing_math,
                            '% Passing Reading': size_passing_reading,
                            '% Overall Passing': size_overall_passing,})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [44]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({'Average Math Score': average_math_score_by_type,
                            'Average Reading Score': average_reading_score_by_type,	
                            '% Passing Math': average_percent_passing_math_by_type,
                            '% Passing Reading': average_percent_passing_reading_by_type,
                            '% Overall Passing': average_percent_overall_passing_by_type,})

# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined